@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-ring {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #e0e0e0;
    position: relative;
}
.progress-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 1em, 1em, 0.5em);
    position: absolute;
}
.progress-circle::before {
    content: '';
    display: block;
    margin: 0.5em;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.15em solid #4caf50; /* Change color as needed */
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}